/* Stickerworld Custom CSS */

.flash {
  display: inline-block;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 100;
}

.btn-disable {
  cursor: default;
  pointer-events: none;

  /*Button disabled - CSS color class*/
  color: #c0c0c0;
  background-color: #ffffff;
}

.loader-label {
  margin: 0;
  padding: 0;
  width: 50px;
  color: limegreen;
  font-size: xx-small
}

.display-none {
  display: none;
}

aside.profile-nav {
  ul.nav-stacked > li {
    color: #1fb5ad;
    border-left: 5px solid #1fb5ad;
  }
}

.vertical-form {
  label {
    color: #7f8c8d;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased !important;
  }

  .input-group {
    span.input-group-addon {
      background-color: #dbdbdb;
        i.fa
        {
          color: #7f8c8d;
        }
    }
    input {
      background-color: #efefef;
      color: #7f8c8d;
    }
  }
}

img#overlay-upload {
  width: 15px;
  height: 15px;
  position: relative;
  top:65px;
  left:-70px;
}

.normal-font {
  font-weight: 300;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased ! important;
}

.label-font {
  @extend .normal-font;
  margin-top: 20px;
}

#deactivate-label {
  @extend .normal-font;
  color: #e74c3c;
}

.weight600 {
  font-weight: 600;
}

.weight700 {
  font-weight: 700;
}

/*for datatable tabletools*/

div.DTTT {
  margin-bottom: 0.5em;
  float: right;
}

div.dataTables_wrapper {
  clear: both;
}
/*for datatable tabletools*/

/* For Gmap3 */
// Map in new branch modal
#new-branch-map, #update-branch-map {
  width: 250px;
  height: 250px;
}


/* Reset Paddings */

.reset-padding {
  padding: 0;
}

.reset-padding-right {
  padding-right: 0;
}

.reset-padding-bottom {
  padding-bottom: 0;
}

.reset-padding-top {
  padding-top: 0;
}

.reset-padding-left {
  padding-left: 0;
}

/* Margins */

.margin-top-10 {
  margin-top: 10px;
}

/* your custom CSS */
@-moz-keyframes pulsate {
  from {
    -moz-transform: scale(0.25);
    opacity: 1.0;
  }
  95% {
    -moz-transform: scale(1.3);
    opacity: 0;
  }
  to {
    -moz-transform: scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes pulsate {
  from {
    -webkit-transform: scale(0.25);
    opacity: 1.0;
  }
  95% {
    -webkit-transform: scale(1.3);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

.pulsate-map-marker div.gmnoprint[title="I am here"] {
  -moz-animation: pulsate 1.5s ease-in-out infinite;
  -webkit-animation: pulsate 1.5s ease-in-out infinite;
  border: 1pt solid #fff;
  /* make a circle */
  -moz-border-radius: 51px;
  -webkit-border-radius: 51px;
  border-radius: 51px;
  /* multiply the shadows, inside and outside the circle */
  -moz-box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
  -webkit-box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
  box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
  /* set the ring's new dimension and re-center it */
  height: 51px !important;
  margin: -18px 0 0 -18px;
  width: 51px !important;
}

.pulsate-map-marker div.gmnoprint[title="I am here"] img {
  display: none;
}

.branches-panel-map-grid {
  min-width: 300px;
  min-height: 280px;
}

.simple-tools  {
text-transform: capitalize;
a, button {
  margin-left: 10px;
  color: #a7a7a7;
  font-size: 12px;
}
form {
  display:inline;

  button {
    background-color: Transparent;
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
}

}


/* Stickerworld Custom CSS End here */
