/* Stickerworld Custom CSS */

.flash {
  display: inline-block;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 100;
}

.btn-disable {
  cursor: default;
  pointer-events: none;

  /*Button disabled - CSS color class*/
  color: #c0c0c0;
  background-color: #ffffff;
}

.loader-label {
  margin: 0;
  padding: 0;
  width: 50px;
  color: limegreen;
  font-size: xx-small
}

.display-none {
  display: none;
}

aside.profile-nav {
  ul.nav-stacked > li {
    color: #1fb5ad;
    border-left: 5px solid #1fb5ad;
  }
}

.vertical-form {
  label {
    color: #7f8c8d;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased !important;
  }

  .input-group {
    span.input-group-addon {
      background-color: #dbdbdb;
        i.fa
        {
          color: #7f8c8d;
        }
    }
    input {
      background-color: #efefef;
      color: #7f8c8d;
    }
  }
}

img#overlay-upload {
  width: 15px;
  height: 15px;
  position: relative;
  top:65px;
  left:-70px;
}

.normal-font {
  font-weight: 300;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased ! important;
}

.label-font {
  @extend .normal-font;
  margin-top: 20px;
}

#deactivate-label {
  @extend .normal-font;
  color: #e74c3c;
}

.weight400 {
  font-weight: 400;
}

.weight500 {
  font-weight: 500;
}

.weight600 {
  font-weight: 600;
}

.weight700 {
  font-weight: 700;
}

/*for datatable tabletools*/

div.DTTT {
  margin-bottom: 0.5em;
  float: right;
}

div.dataTables_wrapper {
  clear: both;
}
/*for datatable tabletools*/

/* For Gmap3 */
// Map in new branch modal
#new-branch-map, #update-branch-map {
  width: 250px;
  height: 250px;
}


/* Reset Paddings */

.reset-padding {
  padding: 0;
}

.reset-padding-right {
  padding-right: 0;
}

.reset-padding-bottom {
  padding-bottom: 0;
}

.reset-padding-top {
  padding-top: 0;
}

.reset-padding-top-bottom {
  padding-top: 0;
  padding-bottom: 0;
}

.reset-padding-left {
  padding-left: 0;
}

/* Margins */

.reset-margin {
  margin: 0;
}

.reset-margin-bottom {
  margin-bottom: 0;
}

.reset-margin-top-bottom {
  margin-top: 0px;
  margin-bottom: 0px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-right-5 {
  margin-right: 5px;
}
/* Paddings */


.padding-top-5 {
  padding-top: 5px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}


/* your custom CSS */
@-moz-keyframes pulsate {
  from {
    -moz-transform: scale(0.25);
    opacity: 1.0;
  }
  95% {
    -moz-transform: scale(1.3);
    opacity: 0;
  }
  to {
    -moz-transform: scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes pulsate {
  from {
    -webkit-transform: scale(0.25);
    opacity: 1.0;
  }
  95% {
    -webkit-transform: scale(1.3);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

.pulsate-map-marker div.gmnoprint[title="I am here"] {
  -moz-animation: pulsate 1.5s ease-in-out infinite;
  -webkit-animation: pulsate 1.5s ease-in-out infinite;
  border: 1pt solid #fff;
  /* make a circle */
  -moz-border-radius: 51px;
  -webkit-border-radius: 51px;
  border-radius: 51px;
  /* multiply the shadows, inside and outside the circle */
  -moz-box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
  -webkit-box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
  box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
  /* set the ring's new dimension and re-center it */
  height: 51px !important;
  margin: -18px 0 0 -18px;
  width: 51px !important;
}

.pulsate-map-marker div.gmnoprint[title="I am here"] img {
  display: none;
}

.branches-panel-map-grid {
//  min-width: 300px;
//  min-height: 280px;
  width: 320px;
  height: 320px;
  webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: #eee 10px solid;
}

.col-centered {
  float:none;
  margin: 0 auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.simple-tools  {
text-transform: capitalize;
a, button {
  margin-left: 10px;
  color: #a7a7a7;
  font-size: 12px;
}
form {
  display:inline;

  button {
    background-color: Transparent;
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
}

}

.faded-tab {
 li a i,span {
    color: #7f8c8d;
    text-transform: capitalize;
     font-weight: 400;
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon-only-button {
  color: #95a5a6;
  background-color: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

table#table-permission {
  margin-top: 30px;
  thead th {
    text-align: center;
  }
  thead th, tbody tr td:first-child {
    button.ordinary {
      @extend .icon-only-button;
      position: relative;
      top:-5px;
      right:-5px;
    }

  }
  tbody tr td span.permission-group-delete-span button.ordinary {
    @extend .icon-only-button;
    position: relative;
    top: -5px;
    right: -10px;
  }
}

table#employees-table tbody td {
  a span {
    line-height: 30px;
  }
  vertical-align: middle;
}

// Employee index img thumbnail in table
.employee-thumbnail-small {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  border: 2px solid #ecf0f1;
  margin-right: 5px;
}

.upload-employee-photo-group {

  .employee-thumbnail-upload-photo {
    border-radius: 50%;
    border: 2px solid #ecf0f1;
    width: 160px;
    height: auto;
  }

  .fileinput-preview {

    @extend .employee-thumbnail-upload-photo;

    img {
      @extend .employee-thumbnail-upload-photo;
    }
  }

  .upload-btns {
    span.btn {
      margin-bottom: 5px;
    }
    @extend .col-md-offset-1;
  }
}

.upload-item-photo-group {
  .fileinput-preview {
    width: 160;
    height: auto;
    img {
      width: 160;
      height: auto;
    }
  }
}

.flat-blue-font {
  color: #3498db;
}

.flat-pink-font {
  color:#d2527f;
}

.font-dark {
  color: #bdc3c7;
}

.view-modal {
  img.item-image {
    width: 200px;
    height: auto;
  }

  .info-group {
    font-weight: 400;
    color: #bdbdbd;
  }
  label {
    font-size: 15px;
  }
  span.info-value {
    font-size: 13px;
  }
}

/*Remove the underline in x-editable */
a.editable-click {
  border-bottom: none;
  &:hover {
    border-bottom: none;
  }
}

/* Search Item Result in New Project */
.project-item-result {
  .item-name {
    font-weight: 600;
    font-size: 15px;
  }
  .supplier {
    font-size: 11px;
    font-style: oblique;
    margin-bottom: 3px;
  }
  .price {
    font-weight: 600;
    color: #5f6165;
  }
  &:hover {
    .price {
      color:white;
    }
  }
}

/* Stickerworld Custom CSS End here */
